body {
  font: 14px/1.6 sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  background: #f8f8f8;
}

.wrap {
  padding: 15px;
}

.card {
  border-radius: 3px;
  overflow: hidden;
  background: #fff;
  color: #777;
  box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.15),
    0px 3px 45px 0px rgba(0, 0, 0, 0.1);
}

.card p {
  padding: 0.8rem;
  margin: 0;
}

.image {
  width: 100%;
  display: block;
}

h1 {
  font-weight: 300;
}

ul,
li {
  padding: 0;
  list-style: none;
}
